
.App {
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-around
}

.item{
  flex: 1;
  margin: auto;
  flex-basis: 100%
}

.item img{
  height: 100%;
  width: 100%;
  display: block;
}

