.App {
  text-align: center;
  /* background-color: black */
}

.container {
  display: flex;
}

.item img{
  height: 100%;
  width: 100%;
  display: block; 
}

.item{
  flex: 1;
  position: relative; 
  overflow: hidden;
}

.overlay {
  position: absolute;
  transition: opacity cubic-bezier(0.68, 0.49, 0.56, 1.34) 300ms;
  left: 0;
  width: 100%;
  background-color: rgb(125,125,125);
  opacity: .0;
}

.item:hover .overlay{
  bottom: 0;
  opacity: .8;
 
}

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }
}