body{
    text-align: center;
    color: whitesmoke;
    background-color: black;
  } 

img {max-width:100%;}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.item {
  padding: 5px;
  position: relative; 
  /* sets border colour */
  border: 15px solid black;
  overflow: hidden;
 
}


.overlay {
   transition: bottom 0.5s ease;
    bottom: -100%;
    position: absolute;
    opacity: .8;
    background-color: black;
    color: white;
    text-align: center;
    padding: 30px;
    width: 100%;

    box-sizing: border-box;
}

.item:hover .overlay {
  bottom: 0;
  opacity: 0.8;
  display: block;
}